{% extends 'base.html' %}

{% block content %}
<div class='contact-banner'>
        <div id='wrap'>
            <h1>Contact Information</h1>
            <hr>
        </div>
    </div>
        <section class='contact-content'>
                <h1><a href="mailto:andrealindamurphy@gmail.com" target="_blank">Email</a></h1>
                <hr>
                <h1><a href="https://www.linkedin.com/in/andrealindamurphy/" target="_blank">Likendin</a></h1>
            </section>
        </div>
 </div>
{% endblock %}
