{% extends 'base.html' %}
{% block content %}
  <div class='resume-banner'>
          {{ resume.get_full_name }}
  </div>
            <hr>
       <div class='resume-subbanner'>
            <h2>Experience</h2>
            <hr>
      </div>
      <section class='blocks'>
                {% for experience in resume.get_experience %}
                        <h3>{{experience.company}}</h3>
                        <h4>{{experience.title}}</h4>
                        {{experience.location}}<br>
                        {{experience.start_date}}<br>
                        {{experience.end_date}}
                        <p>{{experience.description}}</p>
                         {% endfor %}
      </section>
       <div class='resume-subbanner'>
            <h2>Education</h2>
            <hr>
      </div>
      <section class='blocks'>
            {% for education in resume.get_education %}
                  <h3>{{ education.institution_name }}</h3>
                  <h4>{{ education.location }}</h4>
                           {{ education.degree }}
                           {{ education.major }}<br>
                            {{ education.gpa }}
                      {% endfor %}
      </section>
  {% endblock %}
    </div>
    </div>
  </div>
</div>
