{% extends 'base.html' %}

{% block content %}
<div class='resume-banner'>
        <div id='wrap'>
            <h1><i>Andrea Murphy</i></h1>
            <hr>

        <section class='main-block'>
            <h2>
            <div class='resume-subbanner'>PROFILE
            </h2>
                </div>
                <ul>
                    <body>Communications and Cross-functional Virtual Marketing Manager, Web and and Graphic Designer, and Entry Level Programer </body>
              </div>
          </div>
    </section>

    <section class='main-block'>
                <h2>
                <div class='resume-subbanner'>EDUCATION
                </h2>
            </div>
    <section class='blocks'>
                    <header>
                        <h3>University of New Hampshire</h3>
                        <div class='location'>Manchester, NH</div>
                        <div class='degree'>Information Technology, M.S</div>
                        <div class='date'>Expected Graduated Date 2020
                </header>
            </div>
    <section class="blocks">
                    <header>
                        <h3>Virginia Commonwealth University</h3>
                        <div class='location'>Richmond, VA</div>
                        <div class='degree'>Business Marketing, B.S.</div>
                        <div class='date'>Graduated December 2014</div>
                </header>
        </section>
      </header>

        <section class='main-block'>
            <h2>
            <div class='resume-subbanner'></i>EXPERIENCE
            </h2>
    <section class="blocks">
                    <header>
                        <h3>Three Owl Design</h3>
                        <h4>Founder and Principal Operator</h4>
                        <div class='location'>New Boston, NH</div>
                        <div class='date'>May 2015- Present</div>
                </header>
        </section>

    <section class="blocks">
                    <header>
                        <h3>Dawkins Productions</h3>
                        <h4>Marketing Director</h4>
                        <div class='location'>Richmond, VA</div>
                        <div class='date'>April 2014- May 2015</div>
                </header>
        </section>
              </div>
          </div>
    </section>

        <section class='main-block'>
            <h2>
                <div class='resume-subbanner'>TECHNICAL SKILLS
                </h2>
            </div>
            <section class= 'blocks'>
                        <p>Adobe Creative Suites: Illustrator, Photoshop, InDesign<br>
                        <p>Languages: HTML, CSS, Python, and Java<br>
                        <p>Django Basic Framework Desgin<br>
                        <p>Social Media Management with Strategic Planning<br>
                </p>
              </div>
          </section>

        <section class='main-block'>
            <h2>
                <div class='resume-subbanner'>MEMBER ORGANIZATIONS
                </h2>
            </div>
            <div class= 'blocks'>
                        <p>Internet Society (ISOC-NC): New York Chapter<br>
                        <p>NAMI: National Alliance on Mental Illness<br>
                    </p>
              </div>
          </div>
            </body>
                </div>
        </div>
 </div>
{% endblock %}
