{% extends 'base.html' %}

{% block content %}
    <div class='portfolio-banner'>
            <div id='wrap'>
                <h1>Portfolio
            </h1>
        </div>
    </div>
                <hr>

    <div class ='row'>
            <div class='column'>
                        <h2><u>Website Design and Development</u></h2>
                        <h1><a href="https://www.bpdvideo.com/" target="_blank">BPDvideo.com</a></h1>
                        <h1><a href="https://www.myfloatzone.com/" target="_blank">Float Zone</a></h1>
                        <h1><a href ="https:/lampros.chaidas.com/post/Compression-examples/" target="_blank">Squirrel5:Linux Administration Services</a></h1>
             </div>
    <div class ='column'>
                <h2><u>Django Web Application Projects</u></h2>
                       <div class= 'img-thumbnail'>
                            <img src= 'User/andreamurphy/workspace/django/week2/static/media/damus.JPG' >
                        </div>
                    </div>
    <div class ='row'>
            <div class='column'>
                        <h2><u>Graphic Design</u></h2>
             </div>
    <div class ='column'>
                <h2><u>Current Projects</u></h2>
                <h1><a href="https://github.com/andrea5972" target="_blank">GitHub</a></h1>
                    <p></p>
        </div>
    </div>
{% endblock %}
