{% extends 'base.html' %}

{% block content %}
<div class='resume-content'>
    <div class='resume-banner'>
        <div id='wrap'>
            <h1>Resume</h1>
            <hr>
            <body>
                <section id="main">
                    <header id="title">
                        <center><h1>Andrea Murphy</h1></center>
      </header>
        <section class='main-block'>
            <h2>
            <i class='profile-content'></i>PROFILE
            </h2>
                <div>
                <ul>
                    <body>Communications and Cross-functional Virtual Marketing Manager, Web and and Graphic Designer, and Programer </body>
              </div>
          </div>
    </section>

    <section class='main-block'>
        <h2>
            <i class='resume-content'></i>EDUCATION
        </h2>
    <section class="blocks">
                    <header>
                        <h3>University of New Hampshire</h3>
                        <div class='location'>Manchester, NH</div>
                        <div class='degree'>Information Technology, M.S</div>
                        <div class='date'>Expected Graduated Date 2020
                </header>
            </div>

    <section class="blocks">
                    <header>
                        <h3>Virginia Commonwealth University</h3>
                        <div class='location'>Richmond, VA</div>
                        <div class='degree'>Business Marketing, B.S.</div>
                        <div class='date'>Graduated December 2014</div>
                </header>
        </section>
      </header>

        <section class='main-block'>
            <h2>
            <i class='resume-content'></i>EXPERIENCE
            </h2>

    <section class="blocks">
                    <header>
                        <h3>Three Owl Design</h3>
                        <h4>Founder and Principal Operator</h4>
                        <div class='location'>New Boston, NH</div>
                        <div class='date'>May 2015- Present</div>
                </header>
        </section>

    <section class="blocks">
                    <header>
                        <h3>Dawkins Productions</h3>
                        <h4>Marketing Director</h4>
                        <div class='location'>Richmond, VA</div>
                        <div class='date'>April 2014- May 2015</div>
                </header>
        </section>
              </div>
          </div>
    </section>

        <section class='main-block'>
            <h2>
            <i class='resume-content'></i>TECHNICAL SKILLS
            </h2>
            <div class= 'skills-content'>
                <ul>
                        <li>Adobe Creative Suites:</li>
                    </ul>
                    <ul>
                        <li>Languages: HTML, CSS, Python, and Java</li>
                    </ul>
                <ul>
                        <li>Social Media Management with Strategic Planning</li>
                </ul>
              </div>
          </section>

        <section class='main-block'>
            <h2>
            <i class='resume-content'></i>Member Organizations
            </h2>
            <div class= 'Organizations-content'>
                <ul>
                        <li>Internet Society (ISOC-NC): New York Chapter</li>
                    </ul>
                    <ul>
                        <li>NAMI: National Alliance on Mental Illness</li>
                    </ul>
              </div>
          </div>
            </body>
                </div>
        </div>
 </div>
{% endblock %}
